* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	border: none;
	list-style: none;
	outline: none;
}

body {
	background-color: #0f0f0f;
}

header {
	height: 60px;
	border-bottom: 1px solid rgba(128, 128, 128, 0.328);
}

header > ul {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header > ul li:first-child {
	display: flex;
	gap: 16px;
}

header > ul li:first-child > div {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	font-weight: bold;
	font-family: sans-serif;
	gap: 5px;
}

.btn {
	width: 40px;
	height: 40px;
	background-color: transparent;
	border-radius: 50%;
	cursor: pointer;
	border: none;
}
.btn:hover {
	background-color: rgba(128, 128, 128, 0.406);
}

.content {
	display:  flex;
	height: calc(100vh - 60px);
}

.content > aside {
	width: 250px;
	min-width: 250px;
	border-right: 1px solid rgba(128, 128, 128, 0.321);
	overflow-y: auto;
}

.content > main {
	flex-grow: 1;
	overflow-y: auto;
	align-items: center;
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	padding: 1rem;
}

.search {
	display: flex;
	width: 500px;
	height: 50px;
	border: 1px solid rgba(128, 128, 128, 0.458);
	border-radius: 30px;
}

.search input {
	flex-grow: 1;
	height: 100%;
	background-color: transparent;
	padding-left: 30px;
	border-radius: 30px;
	font-size: 18px;
}

.search button {
	height: 50px;
	width: 80px;
	background-color: rgba(128, 128, 128, 0.375);
	font-size: 20px;
	border-radius: 30px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	cursor: pointer;
}
.search button .material-icons {
	font-size: 30px;
}

.search-input {
	display: flex;
	align-items: center;
	gap: 15px;
}

header li .profile {
	display: flex;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}


aside > ul li {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-family: sans-serif;
	gap: 7px;
	font-size: 14px;
	cursor: pointer;
	padding: 8px;
	margin: 5px 10px;
	border-radius: 10px;
}

aside > ul li:hover {
	background-color: rgba(128, 128, 128, 0.351);
}

aside > ul li.line hr {
	width: 100%;
	height: 1px;
	background-color: rgba(128, 128, 128, 0.676);
}
aside li.line{
	pointer-events: none;
}
aside li.title{
	pointer-events: none;
	font-size: 16px;
	font-weight: bold;
}

aside li.channel > img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
}

aside li.footer {
	pointer-events: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
}


aside li.footer p {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.517);
}


aside li.footer span {
	color: rgb(99, 99, 99);
	font-size: 12px;
}

::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  background: transparent; 
	border-radius: 6px;
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
	border-radius: 6px;
}

html {
  scrollbar-color:#888 transparent ;
  scrollbar-width: 6px;
}

html::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

html::-ms-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.video-info > img{
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
	cursor: pointer;
}

.video-info{
	display: flex;
	margin-top: 10px;
	gap: 15px;
}

.video-texts > p:first-child{
	font-family: sans-serif;
	font-weight: bold;
}

.video-texts > p:last-child{
	font-family: sans-serif;
	font-size: 14px;
	opacity: 60%;
}

.video-texts > p:last-child span{
	display: inline-block;
	margin-bottom: 5px;
}

.video-texts{
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.video-card >iframe{
	width: 100%;
	height: 220px;
	border-radius: 10px;
}

.video-card >iframe:hover{
	border-radius: 0;
}

.video-card{
	width: 32%;
}
.vd {
	display: grid;
	align-items: center;
	justify-content: center;
	padding: 1rem 20rem;
}

.video-in {
   display: flex;
   border-radius: 50%;
}

.video {
	display: flex;
	gap: 1rem;
padding: 5px 0;
}

.karochi {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nm {
	display: grid;
	padding: 5px 0;
}

.jk {
	padding: 2rem 4rem;
}

.kimn {
	display: flex;
	padding: 0 49rem;
}

.video-card-1 {
	width: 300px;
	
}

.lll {
	display: flex;
	gap: rem;
}

.jjj {
	display: flex;

}

.video-card-3 {
	padding: 0 2rem;

}

.video-card-4 {
	padding: 0 2rem;
}

.ddf {
transform: rotate(90deg);
}


.kjk {
	transform: rotate(90deg);
}

